@media (min-width: 1440px) {

}

@media (min-width: 1220px) {
        .container {
            margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .container {
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .container {
        margin: 0 auto;
    }
}

@media (min-width: 496px) {
    .container {
        margin: 0 auto;
    }
}

@media (min-width: 248px) {
    .container {
        margin: 0 auto;
    }
}